<div id="welcome">
  <div class="welcome-display">
    <h2 class="welcome-title">ようこそ○○へ</h2>
    <div class="welcome-form">
    <p>ようこそ。</p>
    <p>こちらのサイトではXXXXを運用していきます。</p><p>会員制であるためログインをお願いします。</p>
    </div>
  </div>
</div>


<div id="session-new">
<% if notice || alert %>
<div class="alert-box">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>
<% end %>

<div class="login-display">
  <h2 class="login-title">ログイン</h2>
  <div class="login-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :email , '<i class="material-icons">&#xE0D0;</i><span>Mail Address</span>'.html_safe, :class => 'mdl-textfield__label' %>
      <%= f.email_field :email, autofocus: true ,:class => 'mdl-textfield__input' %>
      </div>
    </div>

    <div class="field">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label :password ,'<i class="material-icons">vpn_key</i><span>Password</span>'.html_safe,:class => 'mdl-textfield__label' %>
      <%= f.password_field :password, autocomplete: "off" ,:class => 'mdl-textfield__input'%>
      </div>
    </div>

    <%# if devise_mapping.rememberable? -%>
  <!--     <div class="field"> -->
        <%#= f.check_box :remember_me %>
        <%#= f.label :remember_me,"次回からは入力させない" %>
  <!--     </div> -->
    <%# end -%>

    <div class="actions">
      <%= f.submit "LogIn", :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>

</div>

</div>
