<div class="mdl-grid">
<% @favorites.each do |favorite| %>
  <% 4.times do |i| %>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="mdl-card  mdl-shadow--2dp">
      <div class="thumbnail">
        <a href=' <%= favorite[:entries][i][:entry_url] %> ' target="blank"><img src="<%= asset_path "noimage.jpg" %>" height="182px" width="182px" alt="Noimage" title="Noimage"></a>
      </div>
        <div class="mdl-card__supporting-text">
          <h2><a href=' <%= favorite[:entries][i][:entry_url] %> ' target="blank"><%= favorite[:entries][i][:entry_title] %></a></h2>
          <div class="description">
          <%= "ここの中にディスクリプションを挿入します。\n"*10 %>
          </div>
          <div class="links">引用元 : <a href=' <%= favorite[:site_url] %>' target="blank" ><%= favorite[:site_title] %></a>
          </div>
        </div>
    </div>
  </div>
  <% end %>
<% end %>

<div class="mdl-cell mdl-cell--6-col">
 <a href="#">
  <div class="new-rss-bottom">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
        <div class="button-tag">New</div>
      </button>
  </div>
 </a>
</div>

<%= link_to "新規登録",rsslist_new_path %>

</div>



